<p id="notice"><%= notice %></p>

<h1>Alle Fragen</h1>
<div class="container">

  <% @questions.each do |question| %>
  <div class="question-card">
    <div class="question-body">
      <%= question.body %>
    </div>
    <div class="question-costumer">
      <%= question.costumer %>
    </div>
    <div class="question-accept">
      <%= link_to 'freigeben',  toggle_accepted_status_question_path(question) %>
    </div>
    <div class="question-destroy">
      <%= link_to 'löschen', question, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>

</div>
<%= link_to 'New Question', new_question_path %>